services:
  qdrant:
    container_name: n8n-qdrant
    image: qdrant/qdrant
    environment:
      - QDRANT__SERVICE__API_KEY=${QDRANT_API_KEY}  
      # - QDRANT__SERVICE__HTTP_PORT=6333
      # - QDRANT__SERVICE__GRPC_PORT=6334
    ports:
      - 6333:6333
      - 6334:6334
    networks:
      - host_net
    volumes:
      - qdrant_vol:/qdrant/storage

volumes:
  qdrant_vol:
    name: qdrant-shared-vol